<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MusicWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MDModel" connectionString="Data Source=C:\Users\xyl29\OneDrive\MusicDb.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <userSettings>
    <MusicWPF.Properties.Settings>
      <setting name="LastListId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FileId" serializeAs="String">
        <value>2091</value>
      </setting>
      <setting name="Position" serializeAs="String">
        <value>218</value>
      </setting>
      <setting name="ListVisibility" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WinTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WinLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LoopChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RandomChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>0.2</value>
      </setting>
    </MusicWPF.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>